<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @park.type %>
</p>

<p>
  <strong>Location:</strong>
  <%= @park.location %>
</p>

<p>
  <strong>Category:</strong>
  <%= @park.category %>
</p>

<%= link_to 'Edit', edit_park_path(@park) %> |
<%= link_to 'Back', parks_path %>
